{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">{{project}}</span>
  <p class="lead">This number increases by one every five seconds.<br> Please reload.</p>
  <p class="lead">When the number reaches 10, it will be reset.</p>
</div>
{% endblock content %}
